<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0" package="com.cabiste.tunisiaprayer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="TunisiaPrayer.Android" android:theme="@style/MainTheme" android:roundIcon="@mipmap/ic_launcher_round" android:icon="@mipmap/ic_launcher">
		<provider
				   android:name="androidx.core.content.FileProvider"
				   android:authorities="${applicationId}.provider"
				   android:exported="false"
				   android:grantUriPermissions="true">
			<meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
</manifest>